.poll-show {
  padding: 0 10%;
  height: 100%;
  #poll-show-header {
    padding-top: 50px;
    position: relative;
    #poll-show-title {
      font-size: 30px;
      font-weight: bold;
    }
    #poll-show-description {
      font-size: 20px;
    }
    .poll-show-admin-controls {
      display: block;
    }
  }
  .poll-options-index {
    margin-left: 0px 3%;
  }
}
