.slidecontainer {
  text-align: center;
  width: 100%;
}

.slider {
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: purple;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: purple;
  cursor: pointer;
}
