// Sign Up/In/Edit pages ============================================================
.sign-pages {
  text-align: center;
  .sign-submit-button {
    background-color: #666666;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
  }
}
