<div class="admin-polls-index" style="text-align: center;">

  <h5>All Polls</h5>
  <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for Polls..." title="Type in a name">
  <div class="table-wrapper">
    <table id="myTable" class="fl-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>View</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% if @polls.any? %>
          <% @polls.each do |poll| %>
            <tr>
              <td><%= poll.title %></td>
              <td><%= poll.description %></td>
              <td> <%= link_to 'View poll', poll_path(poll.id) %></td>
              <td><%= link_to '', edit_poll_path(poll.id), class: "fa fa-edit" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  searchTable();
</script>
