<div class="admins-index">
  <div class ="users-index">
    <%= render partial: 'admins/users_index' %>
  </div>
  <div class="polls-index">
    <%= render partial: 'admins/polls_index' %>
  </div>
</div>
