<div class="modal-form">
  <%= form_tag "/add_poll_groups", remote: true do %>
    <%= hidden_field_tag :poll_id, params[:poll_id] %>
    <div class="">
      <h6>User Groups</h6><br>
      <%= select_tag :user_groups, options_for_select(@group_options),
          {class: "js-example-basic-multiple", multiple: true, include_blank: false, include_hidden: false, style: "width: 100%;"} %><br />
    </div>
    <div class="participants-bottom-button">
      <%= submit_tag "Select", class: "modal-submit-button btn btn-primary js-scroll-trigger" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
  });
</script>
