.navbar {
  height: 64px;
  position: fixed;
  padding: 0;
  top: 0px;
  width: 100%;
  z-index: 1000;
  .navbar-brand {
    padding-left: 10px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-button {
    background-color: #343a40 !important;
    border: none;
    text-decoration: none;
    margin-top: 5px;
    .link-button {
      color: white;
    }
  }
  .dropdown-toggle {
    margin-top: -2px;
  }
  .navbar-collapse {
    background-color: #343a40 !important;
    width: 100%;
    left: 0;
    right: 0;
  }
  .dropdown-menu {
    background-color: #343a40 !important;
    border: none;
  }
  .navbar-sign-pages {
    width: 100%;
    .navbar-button {
      color: white;
      float: right;
      margin: 5px;
    }
    .sign-up-button {
      border: 2px solid #666666;
      border-radius: 6px;
      padding: 5px 10px;
    }
    .sign-in-button {
      border: 2px solid rgba(1, 1, 1, 0);
      padding: 5px 10px;
    }
    .navbar-button:hover {
      cursor: pointer;
      text-decoration: none;
    }
    .sign-up-button:hover, .sign-in-button:hover {
      color: #B6B6B6;
    }
  }
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color: #666666;
    }
  }
}
