<div class="users_show">
  <div class="nav-area">
  </div><br />
  <div class="poll-index">
    <%= render partial: "polls/index" %>
  </div>
  <div class="poll-index">
    <%= render partial: "groups/index" %>
  </div>
</div>
