.poll-option-show {
  .poll-option-show-header {
    .poll-option-show-description {
      text-align: left;
    }
  }
  .poll-option-image {
    #poll-option-image {
      margin: 5px;
      border: 6px solid #666666;
      max-width: 30%;
    }
  }
}
