<div class="poll-option-index">
  <% if @poll.poll_options.any? %>
    <% @poll.poll_options.each do |poll_option| %>
      <div class="poll-poll-option">
        <%= poll_option.title %><br />
        <%= poll_option.description %><br />
        <%= link_to 'Edit Poll Option', edit_poll_option_path(poll_option) %><br /><br />
      </div>
    <% end %>
  <% end %>
</div>
