<div class="poll-option-show">
  <div id="poll-option-show-header">
    <%= link_to 'Back to Poll', poll_path(id: @poll_option.poll_id) %>
    <div id="poll-option-show-title"><%= @poll_option.title %></div>
    <div id="poll-option-show-description"><%= @poll_option.description %></div>
  </div>
</div>
