<div class="poll-edit">
  <%= render partial: "polls/form" %>
  <% if policy(@poll).update? %>
    <%= link_to 'Add Groups', add_groups_path(id: @poll), remote: true %><br />
    <%= link_to 'Add Users', new_participants_path(id: @poll), remote: true %><br />
  <% end %>
  <%= link_to 'View Poll', poll_path(@poll) %>
</div>
