<div class="poll-show">
  <div class="poll-options-index"><br />
    <%= render partial: "poll_options/index" %>
  </div>

  <div style="text-align: center;">
    <div style="width: 120px; height: 80px; margin: 0 auto;" data-step="8" data-intro="You click me to vote on all options."><%= user_vote_button(@poll) %></div>
  </div>
</div>

<script type="text/javascript">
  function submitAllVotes() {
    if (confirm("Are you sure you want to submit these votes?")) {
      $('.vote-submit-button').click();
      $(".slider").attr("disabled", true);
      document.getElementById("masterSave").innerHTML = "You Voted!"
      $("#masterSave").attr("disabled", true);
      <%= @poll.all_users_voted? %>
    } else {
    }
  }
</script>
