<!DOCTYPE html>
<html style="padding: 0; max-width: 600px; margin: 0 auto;">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <header style="background-color: #666666; color: white; padding: 0; margin: 0; height: 60px;  text-align: center; line-height: 60px;">
    <h2>Change of email</h2>
  </header><br />
    <div style="color: #666666">
      <p><%= "Hello, #{@email}!" %></p>
      <% if @resource.try(:unconfirmed_email?) %>
        <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p><br />
      <% else %>
        <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p><br />
      <% end %>
      <p>Thanks,</p>
      <p>your Rscale team</p>
    </div>
  </body>
</html>
